/* homey.css */

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f5f2;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header styles */
header {
    background: linear-gradient(to right, #003366, #336699);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation styles */
nav {
    text-align: center;
    background-color: transparent;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #1e4873;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #003366;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
}

/* Links */
a {
    color: #003366;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #1e4873;
}

/* FAQ styles */
main h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

/* Style the header image */
.header-image {
    max-width: 185px;
    margin: 10px;
    float: left;
}

/* Center the Buy Now button */
.buy-now-container {
    text-align: center;
}

.buy-now-button {
    background: linear-gradient(to right, #003366, #336699);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s;
    cursor: pointer;
}

.buy-now-button:hover {
    background: linear-gradient(to right, #336699, #003366);
}
/* Footer styles */
/* Footer styles */
/* Footer styles */
/* Footer styles */
/* Footer styles */
footer {
    background-color: #003366;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 20px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    font-size: 16px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #336699;
}

/* Ensure the footer stays at the very bottom */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


